.protein-info-container {
  margin: 72px 130px;
  background-color: white;
}
.protein-info-header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  column-gap: 24px;
  margin-bottom: 24px;
}
.protein-info-subheader {
  display: flex;
  flex-direction: column;
  row-gap: 4px;
  justify-content: space-between;
  align-items: flex-start;
}
.protein-info-main {
  margin-top: 24px;
  display: flex;
  flex-direction: row;
  column-gap: 24px;
  justify-content: flex-start;
  align-items: center;
}
.link {
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;

  color: #9f9f9f;
}
.active {
  color: blue;
  text-decoration: underline;
}
